html, body {
  background-color: rgb(221, 221, 221);
}

button, input {
  cursor: pointer;
  border: none;
  font-size: 20px;
  outline: none;
}

.app {
  max-width: 720px;
  margin: 0 auto;
  margin-top: 100px;
  box-shadow: 0px 0px 4px rgba(59, 59, 59, 0.534);
  background-color: #fff;
}